body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: lightpink;
}

a {
  color: #00B7FF;
}

#container{
    margin: 20px auto;
    position: relative;
    width: 960px;
    height: 450px;
}
img{
    width: 200px;
    height: 240px;
    position: absolute;
    padding: 10px 10px 20px 10px;
    background-color: #ffffff;
    -webkit-transition:-webkit-transform  linear 1s;
}
img:hover{
    -webkit-transform:rotate(0deg);
}